{:linters {:missing-docstring {:level :warning}
           :redundant-fn-wrapper {:level :warning}
           :shadowed-var {:level :warning
                          :exclude []
                          :suggest {}}
           :unknown-require-option {:level :off}
           :unsorted-required-namespaces {:level :warning}}
 :lint-as {cljs.core/defrecord clojure.core/defrecord}
 :config-paths ["../resources/clj-kondo.exports/com.github.strojure/parsesso"]
 :config-in-comment {:linters {:redundant-expression {:level :off}
                               :unresolved-namespace {:level :off}
                               :unresolved-symbol {:level :off}
                               :duplicate-require {:level :off}}}}
